.show-product-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center horizontally */
    background-image: url('product.jpg'); /* Add background image */
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent repeating the image */
}
.product-name {
    text-align: center;
    margin-bottom: 1rem; /* Add some space below the product name */
}

.product-image {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
}

.left-column {
    width: 50%;
    margin-right: 1rem;
}

.right-column {
    width: 50%;
}

@media (max-width: 768px) {
    .left-column,
    .right-column {
        width: 100%;
        margin-right: 0;
    }
}

.product-image {
    max-width: 550px; /* Ensure image does not exceed container width */
    max-height: 600px; /* Set maximum height for the image */
    margin-bottom: 1rem;
}

.product-form {
    background-color: #68a2c9;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.687); /* Adjust shadow as needed */
    padding: 20px;
    border-radius: 10px;
    width: 100%; /* Adjust width as needed */
    max-width: 600px; /* Adjust max-width as needed */
}
